.wrapper {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFE6C9;

    .container {
        display: flex;
        max-width: 1920px;
        background-color: #ffffff;
        border-radius: 35px;
        box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border: 1px solid #ffffff;
    }
}